
@font-face {
    font-family: 'kumarkhali_regular';
    src: url('css/fonts/KUMAO___.ttf');
}
@font-face {
    font-family: 'notoSans_regular';
    src: url('css/fonts/NotoSansBengali-Regular.ttf');
}
@font-face {
    font-family: 'notoSans_bold';
    src: url('css/fonts/NotoSansBengali-Bold.ttf');
}
@font-face {
    font-family: 'charukola_light';
    src: url('css/fonts/Charukola_Light.ttf')
}
@font-face {
    font-family: 'montserrat';
    src: url('css/fonts/Montserrat-Regular.otf')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.lsNone { list-style: none; }
.tdNone { text-decoration: none; }
.right { float: right; }
.left { float: left; }
.lightblue { background-color: rgb(223, 247, 255); }
.lightgrey { background-color: #F0F0F0; }

body, .wrapper {
    width: 100%;
    height: 100%;
    font-family: 'notoSans_regular', sans-serif;
}

.navbar {
    font-family: notoSans_regular, sans-serif;
}

.wrapper .container-fluid {
    border-bottom: 4px solid coral;
}

.wrapper .container-fluid .container {
    padding: 0;
}

.brand{
    display: table;
    width: 100%;
}
.brand .navbar-brand{
    float: left;
    padding: 0;
}

.brand .navbar-brand a {
    text-decoration: none;
}

.brand .navbar-brand a {
    color: rgb(78, 88, 97);
    font-family: kumarkhali_regular;
    font-size: 3.5rem;
    font-weight: bold;
}

.brand .navbar-nav{
    float: right;
}

.brand .navbar-brand span{
    color: coral;
    font-weight: bold;
}
.wrapper .brand .navbar-brand p{
    color: grey;
    font-family: notoSans_regular;
    font-size: 0.9rem;
}
.brand .nav-item{
    padding-left: 1rem;
}
.brand .nav-link{
    color: grey;
    font-size: 0.9rem;
    outline: none;
}
.brand .nav-link:hover{
    color: #333;
}
/*////////////////////////////////////*/

.wrapper .container {
    padding: 0;
}

.wrapper .container h2 {
    font-family: 'notoSans_bold';
}

.wrapper .container p {
    font-family: 'notoSans_regular';
    line-height: 1.6;
}

.wrapper .container img {
    width: 100%;
    height: 400px;
}

.wrapper .container ul {
    list-style: none;
}

.wrapper .lead {
    font-family: sans-serif;
}

.wrapper input {
    border-radius: 5px 0 0 5px;
}

.wrapper .form .btn {
    border-radius: 0 5px 5px 0;
}
/* footer */

.footer{
    padding: 2rem 1rem;
    color: #fff;
    border-top: 4px solid coral;
}
.footer p{
    text-decoration: none;
    color: lightslategray;
    font-size: 0.9rem;
    margin: 0;
}
.footer .fa, .footer span{
    color: #FFC107;
}
/* Responsive */

@media screen and (max-width: 375px) {
    .wrapper , .wrapper .container-fluid {
        width: 100%;
        height: 100%;
        box-sizing: border-box;;
    }

    .wrapper .container-fluid .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .wrapper .brand{
        display: table;
        display: center;
        width: 100%
    }

    .wrapper .brand .navbar-brand {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .wrapper .brand .navbar-brand p {
        font-size: 0.75rem;
        margin: auto;
        text-align: center;
    }

    .alert, .form {
        width: 100%;
        margin: auto;
    }

    .brand .navbar-nav {
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
        float: none;
    }

    .brand .navbar-nav .nav-item {
        padding: 0;
        width: 100%;
        background-color: #333;
        border-radius: 3px;
    }

    .brand .navbar-nav .nav-item a {
        color: white;
        font-size: 0.7rem;
    }

    .brand .navbar-nav .nav-item:hover {
        border: 1px solid white;
    }
        
    .postTitle h2 {
        font-size: 1.2rem;
    }

    .wrapper .container {
        padding: 1rem;
    }

    .wrapper .container img {
        width: 100%;
        height: 300px;
    }

    .card p {
        font-size: 0.9rem;
    }
}