@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');



html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.body {
    font-family: 'Quicksand', sans-serif;
}

/* Showcase */
.showcase{
	width: 100%;
	height: 550px;
	background: url('images/image1.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.showcase h1 {
    font-family: 'Monoton';
}

.navbar ul {
    text-align: center;
    list-style: none;
}

.listStyle {
    list-style: none;
}

.main-content .article a {
    text-decoration: none;
}
.main-content .article p {
    font-size: 1rem;
}

.card img {
    width: 100%;
}

.article h2 {
    font-size: 1.6rem;
}


/* SignIn/SignUp */

.loginForm {
    width: 100%;
    height: 100%;

}

.loginForm .box {
    width: 700px;
    height: 500px;
    background-color: coral;
    margin: 5% auto;
}

.postDetails h1, .about h1 {
    /* border-left: 4px solid #2C313C;
    border-top: 4px solid #2C313C;
    padding: 0 1rem; */
}

.postDetails .about,  {
    background-color: #53d397;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.form .input-group .btn {
    border-radius: 3px 0 0 3px;
}
#img-upload{
    width: 100%;
}

.newsLetter .btn {
    border-radius: 0 5px 5px 0;
}

.footer p, .footer address, .footer a { 
    font-size: 0.9rem;
}
.footer h4 {
    font-weight: bold;
}
.developer {
    background-color: #53d397;
}

.developer span {
    font-weight: bold;
}

.postDetails p {
    font-size: 1rem;
    line-height: 1.5;
}
/* responsive */
@media (max-width: 960px) {
    .postDetails h1, .about h1 {
        font-size: 2rem;
    }
    .postDetails .form {
        width: 90%;
        margin: 0 auto;
    }
    .postDetails img {
        height: 260px;
    }
    .article-list a {
        font-size: 0.9rem;
    }
    .footer h3 {
        font-size: 1.3rem;
        font-weight: bold;
    }
}

@media (max-width: 576px) {
    .footer, .footer a {
        text-align: center;
    }
    .newsLetter p {
        font-size: 0.8rem
    }
    .footer .input-group {
        width: 80%;
        margin: 0 auto;
    }
    .developer p {
        font-size: 1rem;
    }    .postDetails h1, .about h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 375px) {
    .postDetails img {
        height: 200px;;
    }
    .footer .input-group {
        width: 100%;
        margin: 0 auto;
    }
    .developer p {
        font-size: 0.9rem;
        padding: 0 1rem;
    }
    .postDetails h1, .about h1 {
        font-size: 1.2rem;
    }
    .showcase1 {
            padding-top: 0rem;
    }
}
@media (max-width: 325px) {
    .postDetails img {
        height: 160px;
        font-size: 1.1rem;
    }
    .postDetails p {
        font-size: 0.9rem;
    }
}

