
@font-face {
    font-family: 'kumarkhali_regular';
    src: url('css/fonts/KUMAO___.ttf');
}
@font-face {
    font-family: 'notoSans_regular';
    src: url('css/fonts/NotoSansBengali-Regular.ttf');
}
@font-face {
    font-family: 'notoSans_bold';
    src: url('css/fonts/NotoSansBengali-Bold.ttf');
}
@font-face {
    font-family: 'charukola_light';
    src: url('css/fonts/Charukola_Light.ttf')
}
@font-face {
    font-family: 'montserrat';
    src: url('css/fonts/Montserrat-Regular.otf')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .wrapper{
    width: 100%;
    height: 100%;
}

.lsNone { list-style: none; }
.tdNone { text-decoration: none; }
.right { float: right; }
.left { float: left; }
.lightblue { background-color: rgb(223, 247, 255); }

.navbar {
    font-family: notoSans_regular, sans-serif;
}

.brand{
    display: table;
    width: 100%;
}
.brand .navbar-brand{
    float: left;
    padding: 0;
}

.brand .navbar-brand a, .signInProcess .modal-header a,  .registrationProcess .modal-header a{
    text-decoration: none;
}

.brand .navbar-brand a {
    color: rgb(78, 88, 97);
    font-family: kumarkhali_regular;
    font-size: 3.5rem;
    font-weight: bold;
}

.brand .navbar-nav{
    float: right;
}

.brand .navbar-brand span{
    color: coral;
    font-weight: bold;
}
.wrapper .brand .navbar-brand p{
    color: grey;
    font-family: notoSans_regular;
    font-size: 0.9rem;
}
.brand .nav-item{
    padding-left: 1rem;
}
.brand .nav-link{
    color: grey;
    font-size: 0.9rem;
    outline: none;
}
.brand .nav-link:hover{
    color: #333;
}


/* showcase */
/*
.showcase {
    background-image: url('images/header-bg.jpg');
    width: 100%;
    height: 300px;
}*/

/*UserInfo*/

.form table {
    width: 50%;
    margin: auto;
}
.form table tr th {
    padding: 1rem;
    text-align: left;;
}

.form .btn {
    width: 100%;
}